<form action="/" method="POST">
  <div class="input-group my-3 mx-auto" style="width:60%;">
    {{!-- --}}
    <input type="text" class="form-control" placeholder="Input URL here" name="originUrl" value="{{originUrl}}">
    <div class="input-group-append">
      <button class="btn btn-outline-dark" type="submit">Shorten</button>
    </div>
  </div>

</form>