{{!-- <form action="/" method="POST"> --}}
  <div class="input-group mt-1 mx-auto" style="width:60%;">
    <input type="text" class="form-control" placeholder="Input URL here" name="originalURL">
    <button class="btn btn-outline-dark" type="submit">Shorten</button>
  </div>
  {{!--
</form> --}}