<div class="input-group mt-1 mx-auto" style="width:60%;">
  <input type="text" class="form-control" placeholder="Input URL here" aria-label="Recipient's username"
    aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">Shorten</button>
</div>