<div class="text-center mx-auto mt-2">
  <h1>Success! Please use this link:</h1>
  <h2>
    <a name="shortenLink" href="{{originUrl}}">{{newUrl}}
  </h2>
  <button type="button" class="btn btn-info">Copy</button>
</div>