<div class="text-center mx-auto mt-2">
  <h1>Success! Please use this link:</h1>
  <h2>
    <a class="link" name="shortenLink" href="{{originUrl}}">{{newUrl}}</a>
  </h2>
  <button class="copy btn btn-info">Copy</button>
  <a href="/" class="btn btn-secondary ml-2">Back</a>
</div>